* {
    padding: 0;
    margin: 0;
}

.parent {
    background-color: whitesmoke;
	background: url('https://yugen-web.vercel.app/assets/cloud-lh.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 0 2em;
}

.nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    list-style: none;
}
