* {
    padding: 0;
    margin: 0;
}

.parent {
    background-color: whitesmoke;
	background: url('https://yugen-web.vercel.app/assets/cloud-lh.svg');
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    list-style: none;
    background-color: white;
}

.nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
}

.nav a {
    color: #000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.nav a:hover {
    color:white;
    background: cornflowerblue;
    transition: all 0.5s ease;
}

.main-content {
    height: 100%;
    width: 100%;
    margin: 0;
    height: 83.6vh;
}

.intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.intro-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-left: 60px;
    text-align: start;
    line-height: 65px;
    flex: 0.5;
}

.intro-left div > p {
    font-size: 4.5rem;
    line-height: 80px;
}

.intro-left div > p > span {
    color: cornflowerblue;
}

.intro-right {
    flex: 0.5;
    background: url('images/hero.svg') no-repeat;
    background-size: 500px;
    background-position: center;
}

@media only screen and (max-width: 980px) {
    .intro-left {
        flex: 1;
    }
    .intro-left div > p {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .intro-right {
        display: none;
    }
}
